.menu {
  top: 1px; }
  .menu .menu__logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 5px; }
  .menu .menu__logo--principal {
    width: 120px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    position: absolute;
    top: 5px; }

a:hover {
  background-color: turquoise;
  color: black;
  border-radius: 10px; }

img:hover {
  transform: scale(1.1);
  transition: 2s; }

/* PRESENTACION SERVICIOS */
.presentacion {
  margin-top: 20px; }

/* SECCION DESTACADOS */
.destacados {
  margin-bottom: 10px; }
  .destacados .card {
    border: 3px solid black; }
  .destacados .destacados__header {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 140%;
    font-weight: 700;
    margin-bottom: 2%;
    list-style-type: none;
    margin-left: -15%; }
  .destacados .destacados__texto {
    font-family: 'Roboto', sans-serif;
    margin-left: 15%;
    list-style: none; }
  .destacados .card-body {
    background-color: #cbd1ca; }

/* preguntas index */
.preguntas {
  margin-top: 50px; }

h1 {
  font-size: 300%;
  font-family: 'Roboto Slab', serif;
  text-align: center; }

h2 {
  font-size: 200px;
  font-family: 'Roboto Slab', serif;
  text-align: center; }

h3 {
  font-size: 200%;
  font-family: 'Roboto Slab', serif;
  text-align: center; }

h4 {
  font-size: 150%;
  font-family: 'Roboto Slab', serif;
  text-align: center; }

h5 {
  font-size: 150%;
  font-family: 'Roboto Slab', serif;
  text-align: center; }

p {
  font-family: 'Roboto', sans-serif; }

/* botones alquiler y ventas index */
section .btn {
  padding: 5%;
  margin-bottom: 5px; }

/* contacto.html */
.contacto .contacto__icono {
  width: 30px;
  height: 30px; }

.contactoBackground {
  background-image: url(../imagenes/Contacto.jpg);
  background-repeat: repeat;
  font-weight: bolder; }

.body__color {
  background-color: #062404; }

.nosotros .nosotros__titulo {
  font-size: 2.5em;
  color: yellow; }

.nosotros .nosotros__intro {
  margin: 5% 12% 5%;
  word-spacing: .2em;
  line-height: 2em;
  font-size: 2em;
  color: whitesmoke;
  text-align: justify; }

.footer {
  margin-top: 1%; }
  .footer .footer__logo {
    width: 170px;
    height: 70px;
    position: relative;
    left: -20px; }
  .footer .footer__contacto--icono {
    width: 30px;
    height: 30px;
    margin: 3px; }

.fondo {
  background-image: url(../imagenes/architecture.jpg);
  width: 100%;
  height: 30em; }
  .fondo .fondo__titulo {
    color: #1d1d1d;
    font-weight: bolder;
    font-size: 3em; }

@media (max-width: 360px) {
  .fondo {
    background-image: url(../imagenes/architecture.jpg);
    width: 97%;
    height: 20em; }
    .fondo .fondo__titulo {
      font-size: 2em; }
  .nosotros .nosotros__titulo {
    font-size: 1.5em;
    color: yellow; }
  .nosotros .nosotros__intro {
    margin: 5% 12% 5%;
    word-spacing: .1em;
    line-height: 1.5em;
    font-size: 1.5em;
    color: whitesmoke;
    text-align: justify; } }
